/* body{
    /* background-color: coral; */

h1{
    background-color: #5d00ff;
    border: 3px solid black;
    padding-left:50px;
    padding-top:50px;
    padding-bottom:  50px; 
    margin-right: 150px;
    margin-bottom: 200px;
    /* text-align: center; */
    font-family: 'Roboto Mono', monospace;
}


#third-p{
    background-color:rgb(255,255,255)
}


.bordered-p{
    border: 1px solid;
} 